<app-header nombre="locales"></app-header>

<ion-content>

  <ion-searchbar
    color="light" 
    placeholder = "Buscar categoría..."
    animated
    (ionChange)="buscar($event)">
  </ion-searchbar>

  <ion-list *ngFor="let categoria of categorias">
    <ion-item [routerLink]="['/productos',categoria.id]">
      <ion-icon name="{{categoria.Icono}}" slot="start" size='large'></ion-icon>
      <ion-label style="font-size: 17.2px;">{{categoria.Nombre}}</ion-label>
    </ion-item>

  </ion-list>


</ion-content>
