<app-header nombre="locales"></app-header>

<ion-content>

  <ion-segment color="tertiary" value="categorias">

    <ion-segment-button value="todos" [routerLink]="['/locales-todos']" >
      <ion-icon name="gift-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Locales</ion-label>
    </ion-segment-button>

    <ion-segment-button value="categorias" [routerLink]="['/categorias-locales']" >
      <ion-icon name="list-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Categorías</ion-label>
    </ion-segment-button>

  </ion-segment>



  <ion-searchbar
    color="light" 
    placeholder = "Buscar categoría..."
    animated
    (ionChange)="buscar($event)">
  </ion-searchbar>

  <ion-list *ngFor="let categoria of categorias | filtroCategoriaLocal: textoBuscar">

    <ion-item [routerLink]="['/locales',categoria.id]">

      <ion-icon name="{{categoria.Icono}}" slot="start" size='large'></ion-icon>
      <ion-label style="font-size: 17.2px;">{{categoria.Nombre}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="validarSesion()">
     <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 
</ion-content>
