<app-header nombre="locales"></app-header>

<ion-content>
  <ion-searchbar
    color="light" 
    placeholder = "Buscar local..."
    animated
    (ionChange)="buscar($event)">
  </ion-searchbar>

  <ng-container *ngIf="!condicion">
  <ng-container *ngFor="let local of locales | filtroLocal: textoBuscar">
    <ion-card *ngIf = 'local.CategoriaLocal == categoria && local.Visibilidad == true'>
      
      <ion-item [routerLink]="['/productos-locales',local.id, local.Usuario]" >
        <ion-avatar slot="start" style="height: 50px;width: 50px;margin-right: 7.5px;">
          <img src="{{local.Foto}}">
        </ion-avatar> 
        <ion-label style="font-size: 18.2px; margin-left: 8.5px;">{{local.Nombre}}</ion-label>

        <ion-icon name="bicycle-outline" color = 'success' slot = 'end' size = 'large' *ngIf = 'local.Domicilio == "Si"'></ion-icon>
  
  
        
        
      </ion-item>

      <ion-item >

        <div slot='end' *ngFor = 'let indice of [].constructor(local.Calificacion); let i = index' style='width: 1%;margin-right: 5px;'>
          <ion-icon name="star" color = 'warning'></ion-icon>
        </div>
        

        <!-- <ion-button fill="outline" color = 'warning' slot='end' size='medium'><ion-icon name="star-outline" color = 'warning' size='medium'></ion-icon><label style="font-size: 14;margin-left: 7.5px;" >{{local.Calificacion}}</label></ion-button>
              -->
        <ion-icon *ngIf="local.Usuario == idUser" slot='start' name="create-outline" [routerLink]="['/editar-local',local.id,idUser]"></ion-icon>
      </ion-item>
    </ion-card>
    

  </ng-container>

  
  </ng-container>

   <ng-container *ngIf="condicion">

  <div style="margin-top: 50px;" align='center'> 
    <ion-text color="medium">

      <img src="https://firebasestorage.googleapis.com/v0/b/taskyapp01.appspot.com/o/iconos%2Fgrupos.png?alt=media&token=8aa84d63-18b5-424d-9b6a-dfd1075eeb77" style="width: 55%; height:58%;margin:auto;" alet="foto">
      
      <p style="font-size: 21px;margin:auto;margin-top:7.5px">No hay locales en esta categoría.</p>
    </ion-text>  
  </div>
</ng-container>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="validarSesion()">
   <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
 