<app-header nombre="locales"></app-header>

<ion-content>



  <ion-searchbar color="light" placeholder="Buscar local..." animated (ionChange)="buscar($event)">
  </ion-searchbar>

  <ng-container *ngIf="!condicion">
    <ng-container *ngFor="let local of locales | filtroLocal: textoBuscar">
      <ion-card>
        <ion-item [routerLink]="['/detalle-local',local.id, local.Usuario]">
          <ion-avatar slot="start" style="height: 50px;width: 50px;margin-right: 7.5px;">
            <img src="{{local.Foto}}">
          </ion-avatar>
          <ion-label style="font-size: 18.2px; margin-left: 8.5px;">{{local.Nombre}}</ion-label>

          <ion-icon name="bicycle-outline" color='success' slot='end' size='large' *ngIf='local.Domicilio == "Si"'>
          </ion-icon>

        </ion-item>

        <ion-item>

          <div slot='end' *ngFor='let indice of [].constructor(local.Calificacion); let i = index'
            style='width: 1%;margin-right: 5px;'>
            <ion-icon name="star" color='warning'></ion-icon>
          </div>
          <ion-icon *ngIf="local.Usuario == idUser" slot='start' name="create-outline"
            [routerLink]="['/editar-local',local.id,idUser]"></ion-icon>
        </ion-item>
      </ion-card>
    </ng-container>
    <!--<ion-grid>
      <ion-row style="height: 500px;width: 100%;">
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let local of locales | filtroLocal: textoBuscar">

          <ion-card (click)='aumentarVisita(local.id,local)'>
            <ion-card-header id="headerCard">

              <ion-img src="{{local.Foto}}" style="height: 100%; padding: 0;">
              </ion-img>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="bicycle-outline" color='success' slot='end' size='large' *ngIf='local.Domicilio == "Si"'>
              </ion-icon>
              <h2>{{local.Nombre}}</h2>
              <ion-item>
                <div slot='end' *ngFor='let indice of [].constructor(local.Calificacion); let i = index'
                  style='width: 1%;margin-right: 5px;'>
                  <ion-icon name="star" color='warning'></ion-icon>
                </div>
                <ion-icon *ngIf="local.Usuario == idUser" slot='start' name="create-outline"
                  [routerLink]="['/editar-local',local.id,idUser]"></ion-icon>
              </ion-item>
            </ion-card-content>
          </ion-card>

    </ion-col>
    </ion-row>
    </ion-grid>-->
  </ng-container>

  <ng-container *ngIf="condicion">

    <div style="margin-top: 50px;" align='center'>
      <ion-text color="medium">

        <img
          src="https://firebasestorage.googleapis.com/v0/b/ventasml2.appspot.com/o/iconos%2Ffile_search.png?alt=media&token=79e21b5c-d8e4-4124-abd8-be52f0bce666"
          style="width: 250px; height:250px;margin:auto;" alet="foto">

        <p style="font-size: 21px;margin:auto;margin-top:7.5px">No hay locales en esta categoría.</p>
      </ion-text>
    </div>
  </ng-container>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="validarSesion()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>