ion-content{
    --ion-background-color:#ffffff;
}
/**
ion-card-header{
    background-color: #E0E0E0;
    
    height: 180px;
}

ion-card{
    display: flex;
    flex-direction: column;
    
    margin: 0 !important;
    height: 260px;
  }

  #headerCard{
    padding: 0;
  }
  h2{
      padding-top: 2px;
      font-size: 12px;
  }
  p{
      padding-top: 10px;
      font-size: 16px;
  } */