<ion-content class="vertical-center">


  <ion-slides pager="true" [options]="slideOpts" style="height: 85%;margin-top: 45px;">
    <!-- <ion-slide style="height: 100%;width: 85%;margin: auto;" *ngFor='let dato of carousel'>
      
      <ion-content>

        <div align='center' style='margin-bottom: 10%;margin-top:45.2px;'>
          <ion-img src="{{dato.imagen}}" style="height: 215px;width: 215px;margin:auto"></ion-img>
        </div>

        <div align='center' style='color:black;font-size: 19.1px;text-align: center;margin:auto;width: 85%;'>
          <ion-label style='color:black;font-size: 19.1px;text-align: center;margin:auto;'>{{dato.Descripcion}}
          </ion-label>

        </div>

      </ion-content> 

    </ion-slide> -->
    <ion-slide style="height: 100%;width: 85%;margin: auto;">

      <ion-content>
        <div align='center' style='margin-bottom: 10%;margin-top:45.2px;'>
          <ion-img
            src="https://firebasestorage.googleapis.com/v0/b/ventasml2.appspot.com/o/iconos%2Fhome_registrar.png?alt=media&token=78d7556b-411b-4866-bf45-53a21ec01b67"
            style="height: 215px;width: 215px;margin:auto"></ion-img>
        </div>
        <div align='center' style='color:black;font-size: 19.1px;text-align: center;margin:auto;width: 85%;'>
          <ion-label style='color:black;font-size: 19.1px;text-align: center;margin:auto;'>Una vez te hayas registrado
            podrás:
          </ion-label>
        </div>
      </ion-content>

    </ion-slide>

    <ion-slide style="height: 100%;width: 85%;margin: auto;">

      <ion-content>
        <div align='center' style='margin-bottom: 10%;margin-top:45.2px;'>
          <ion-img
            src="https://firebasestorage.googleapis.com/v0/b/ventasml2.appspot.com/o/iconos%2Fhome_anuncios.png?alt=media&token=aa6b2090-56fa-4636-982c-e3a3187e67d0"
            style="height: 215px;width: 215px;margin:auto"></ion-img>
        </div>
        <div align='center' style='color:black;font-size: 19.1px;text-align: center;margin:auto;width: 85%;'>
          <ion-label style='color:black;font-size: 19.1px;text-align: center;margin:auto;'>Publicar anuncios de los
            servicios y productos que ofrezcas.
          </ion-label>
        </div>
      </ion-content>

    </ion-slide>

    <ion-slide style="height: 100%;width: 85%;margin: auto;">

      <ion-content>
        <div align='center' style='margin-bottom: 10%;margin-top:45.2px;'>
          <ion-img
            src="https://firebasestorage.googleapis.com/v0/b/ventasml2.appspot.com/o/iconos%2Fhome_categoria.png?alt=media&token=df9ecda7-ede8-4a57-8169-91d401d9f366"
            style="height: 215px;width: 215px;margin:auto"></ion-img>
        </div>
        <div align='center' style='color:black;font-size: 19.1px;text-align: center;margin:auto;width: 85%;'>
          <ion-label style='color:black;font-size: 19.1px;text-align: center;margin:auto;'>Subir tus productos en la
            categoría correspondiente.
          </ion-label>
        </div>
      </ion-content>

    </ion-slide>

    <ion-slide style="height: 100%;width: 85%;margin: auto;">

      <ion-content>
        <div align='center' style='margin-bottom: 10%;margin-top:45.2px;'>
          <ion-img
            src="https://firebasestorage.googleapis.com/v0/b/ventasml2.appspot.com/o/iconos%2Fhome_local.png?alt=media&token=bf0c9566-b92b-42d6-b224-0a937067b840"
            style="height: 215px;width: 215px;margin:auto"></ion-img>
        </div>
        <div align='center' style='color:black;font-size: 19.1px;text-align: center;margin:auto;width: 85%;'>
          <ion-label style='color:black;font-size: 19.1px;text-align: center;margin:auto;'>Promocionar tu local y
            agregar los productos que ofrece en la opción "cartilla".
          </ion-label>
        </div>
      </ion-content>

    </ion-slide>



  </ion-slides>

  <ion-fab vertical="start" horizontal="end" slot="fixed" style='margin-top: 7.5px;margin-right: 7.5px;'>

    <ion-icon (click)='cambiar()' name="close-circle-outline" size="large"></ion-icon>

  </ion-fab>


</ion-content>

<ion-footer class="myColor">
  <div align='center'>
    <img
      src='https://firebasestorage.googleapis.com/v0/b/ventasml2.appspot.com/o/iconos%2FML2-gratis.png?alt=media&token=https://firebasestorage.googleapis.com/v0/b/ventasml2.appspot.com/o/iconos%2FML2%20gratis%20(4).png?alt=media&token=55ef1866-f610-4be5-856b-a2585ceac19b'
      style='height: 75px;width: 354px;margin: auto;' />
  </div>

</ion-footer>