<ion-content class="vertical-center">


  <ion-slides pager="true" [options]="slideOpts" style="height: 85%;margin-top: 45px;">
    <!-- <ion-slide style="height: 100%;width: 85%;margin: auto;" *ngFor='let dato of carousel'>
      
      <ion-content>

        <div align='center' style='margin-bottom: 10%;margin-top:45.2px;'>
          <ion-img src="{{dato.imagen}}" style="height: 215px;width: 215px;margin:auto"></ion-img>
        </div>

        <div align='center' style='color:black;font-size: 19.1px;text-align: center;margin:auto;width: 85%;'>
          <ion-label style='color:black;font-size: 19.1px;text-align: center;margin:auto;'>{{dato.Descripcion}}
          </ion-label>

        </div>

      </ion-content> 

    </ion-slide> -->
    

    <ion-slide class = 'ionSlide' *ngFor = 'let item of urlsImagenes; let i = index'>
      <ion-content>
        <div align='center' class = 'divIcon'>
          <ion-img
            src={{item}}
            class = 'imageIcon'></ion-img>
        </div>
        <div align='center' style='color:black;text-align: center;margin:auto;width: 86.5%;'>
          <ion-label style='color:black;font-size: 22.3px;text-align: center;margin:auto;'>{{textos[i]}}
          </ion-label>
        </div>
      </ion-content>


    </ion-slide>

  

   

 



  </ion-slides>

  <ion-fab vertical="start" horizontal="end" slot="fixed" style='margin-top: 7.5px;margin-right: 7.5px;' large>

    <ion-icon (click)='cambiar()' name="close-circle-outline" size="large"></ion-icon>

  </ion-fab>


</ion-content>

<ion-footer class="myColor">
  <div align='center'>
    <img
      src={{foot}}
      style='height: 75px;width: 354px;margin: auto;' />
  </div>

</ion-footer>