<app-header nombre="perfil"></app-header>


<ion-content>


  <ng-container *ngIf="!condicion">

    <ion-list *ngFor="let publicacion of publicaciones" class="item-background-color">
      <ion-card *ngIf = 'publicacion.Usuario == idUser' style="background-color: #ACC8FC !important">
  
          <ion-card-header class="item-background-color" [routerLink]="['/publicacion-detalle',publicacion.id,publicacion.Usuario]">
            <ion-item lines = 'none'>
              <ion-card-title >
                <label style='color:black;font-size: 17.2px;'>
                  {{publicacion.Titulo}}
                </label>
              </ion-card-title>  
            </ion-item> 
  
          </ion-card-header>
  
          <ion-card-content (click)='aumentarVisitaPublicacion(publicacion.id,publicacion.Usuario,publicacion)'>
            <label style='color:black;font-size: 15px;'>{{publicacion.Descripcion}}</label>
            
          </ion-card-content>
  
          <ion-item lines = 'none'>

            <ion-icon name="trash-outline" slot='start' color='danger' (click)="alert(publicacion.id)"></ion-icon>
  
            <ion-item slot='end' lines = 'none'>
              <ion-button fill="outline" slot='end'>
                <ion-icon name="eye-outline"></ion-icon><label
                  style="font-size: 12;margin-left: 7.5px;">{{publicacion.Visitas}}</label>
              </ion-button>
  
              {{publicacion.Fecha | date:'yyyy/MM/dd'}}
            </ion-item>
  
          </ion-item>
          
          
  
        
      </ion-card>
  
    </ion-list>


    <!-- <ng-container *ngFor="let publicacion of publicaciones">
      <ion-card style="background-color: #ACC8FC" *ngIf="publicacion.Usuario == idUser">

        <ion-card-header [routerLink]="['/publicacion-detalle',publicacion.id,publicacion.Usuario]">
          <ion-item>
            <ion-card-title>{{publicacion.Titulo}}</ion-card-title>
          </ion-item>

        </ion-card-header>

        <ion-card-content [routerLink]="['/publicacion-detalle',publicacion.id,publicacion.Usuario]">
          {{publicacion.Descripcion}}
        </ion-card-content>

        <ion-item>

          <ion-icon name="trash-outline" slot='start' color='danger' (click)="alert(publicacion.id)"></ion-icon>

          <ion-item slot='end'>
            <ion-button fill="outline" slot='end'>
              <ion-icon name="eye-outline"></ion-icon><label
                style="font-size: 12;margin-left: 7.5px;">{{publicacion.Visitas}}</label>
            </ion-button>

            {{publicacion.Fecha | date:'yyyy/MM/dd'}}
          </ion-item>

        </ion-item>




      </ion-card>

    </ng-container> -->
  </ng-container>

  <ng-container *ngIf="condicion">

    <div style="margin-top: 50px;" align='center'>
      <ion-text color="medium">

        <img
        src="../../../assets/vacio/publicaciones.png"
        style="width: 155px; height: 155px;margin:auto;" alet="foto">

        <p style="font-size: 21px;margin:auto;margin-top: 24.5px; width: 87.5%;">Todavía no has realizado publicaciones.</p>
      </ion-text>
    </div>
  </ng-container>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/crear-publicaciones-generales']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>