<app-header nombre="perfil"></app-header>


<ion-content>


  <ng-container *ngIf="!condicion">
    <ng-container *ngFor="let publicacion of publicaciones">
      <ion-card style="background-color: #ACC8FC" *ngIf="publicacion.Usuario == idUser">

        <ion-card-header [routerLink]="['/publicacion-detalle',publicacion.id,publicacion.Usuario]">
          <ion-item>
            <ion-card-title>{{publicacion.Titulo}}</ion-card-title>
          </ion-item>

        </ion-card-header>

        <ion-card-content [routerLink]="['/publicacion-detalle',publicacion.id,publicacion.Usuario]">
          {{publicacion.Descripcion}}
        </ion-card-content>

        <ion-item>

          <ion-icon name="trash-outline" slot='start' color='danger' (click)="alert(publicacion.id)"></ion-icon>

          <ion-item slot='end'>
            <ion-button fill="outline" slot='end'>
              <ion-icon name="eye-outline"></ion-icon><label
                style="font-size: 12;margin-left: 7.5px;">{{publicacion.Visitas}}</label>
            </ion-button>

            {{publicacion.Fecha | date:'yyyy/MM/dd'}}
          </ion-item>

        </ion-item>




      </ion-card>

    </ng-container>
  </ng-container>

  <ng-container *ngIf="condicion">

    <div style="margin-top: 50px;" align='center'>
      <ion-text color="medium">

        <img
          src="https://firebasestorage.googleapis.com/v0/b/ventasml2.appspot.com/o/iconos%2Ffile_search.png?alt=media&token=79e21b5c-d8e4-4124-abd8-be52f0bce666"
          style="width: 55%; height:58%;margin:auto;" alet="foto">

        <p style="font-size: 21px;margin:auto;margin-top:7.5px">No hay publicaciones realizadas.</p>
      </ion-text>
    </div>
  </ng-container>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/crear-publicaciones-generales']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>