<!-- <app-header nombre="locales"></app-header> -->

<ion-content>

  <ion-segment color="tertiary" value="anuncios">

    <ion-segment-button value="anuncios" [routerLink]="['/detalle-local',idLocal,idPropietario]" routerDirection="root">
      <ion-icon name="information-circle-outline" size="large"></ion-icon>
      <ion-label style="font-size: 11px;">Datos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="cartilla" [routerLink]="['/productos-locales',idLocal,idPropietario]"
      routerDirection="root">
      <ion-icon name="book-outline" size="large"></ion-icon>
      <ion-label style="font-size: 11px;">Cartilla</ion-label>
    </ion-segment-button>

    <ion-segment-button value="comentarios" [routerLink]="['/comentarios-local',idLocal,idPropietario]"
      routerDirection="root">
      <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
      <ion-label style="font-size: 11px;">Comentarios</ion-label>
    </ion-segment-button>

  </ion-segment>

  <div *ngIf = '!calificarBool && idUser!=null'> 

    <div style='margin:auto;margin-top: 10px;' align='center' *ngIf = 'idPropietario != idUser && !calificarBool'>
      <form #form="ngForm" (ngSubmit)="calificar(form)">
        <p class="clasificacion">
          <input id="radio1" type="radio" name="estrellas" value=5 ngModel required><!--
          --><label class='estrellaLabel' for="radio1">★</label><!--
          --><input id="radio2" type="radio" name="estrellas" value=4 ngModel required><!--
          --><label class='estrellaLabel' for="radio2">★</label><!--
          --><input id="radio3" type="radio" name="estrellas" value=3 ngModel required><!--
          --><label class='estrellaLabel' for="radio3">★</label><!--
          --><input id="radio4" type="radio" name="estrellas" value=2 ngModel required><!--
          --><label class='estrellaLabel' for="radio4">★</label><!--
          --><input id="radio5" type="radio" name="estrellas" value=1 ngModel required><!--
          --><label class='estrellaLabel' for="radio5">★</label>
        </p>
  
        <ion-button style="width: 100px;margin:auto;margin-bottom: 8.5px;" type="submit"  [disabled]="form.invalid" expand="block">
          Calificar
        </ion-button>
      </form>
    </div>

  </div>

  <div *ngIf = 'idUser===null'> 

    <div style='margin-left:auto;margin-top: 10px;' align='center' *ngIf = 'idPropietario != idUser && !calificarBool'>
      <ion-card-content id='starts' style = 'align-items: center; text-align: center !important; background-color: white;'>
        <ion-item class = 'item-background-color' lines='none' style = 'align-items: center; text-align: center !important;margin-left: auto;'>
          <div slot='start' *ngFor='let indice of [].constructor(local.Calificacion); let i = index'
            style='width: 0.025%;margin-left: 0.00125px;'>
            <ion-icon name="star" color='warning'></ion-icon>
          </div>

        </ion-item>
      </ion-card-content>
  
    </div>

  </div>

  

  <div *ngIf = 'calificarBool && idUser!=null'>

    <div *ngIf = 'idPropietario != idUser && calificarBool' style='margin:auto;margin-top: 12.5px;' align='center' >
      <div align='center' style='border-radius: 1px;border-color: black;'>
        <ion-label style='font-size: 18.2px;margin-bottom: 7.5px !important;'>Tu calificación al local fue:</ion-label>
        <br/>
        <label *ngFor = 'let indice of [].constructor(valor); let i = index'>
          <ion-icon name="star" color = 'warning' size='large'></ion-icon>
        </label>
  
      </div>
      
  
    </div>

  </div>
  



  <ion-img class="circle-pic" style="width: 275px;height: 275px;margin:auto;margin-top: 15px;" src="{{local.Foto}}" ></ion-img>

  <ion-card style = 'padding: 7.5px;'>
    <ion-item lines = 'none' class = 'item-background-color'>
      <label style="margin: auto;display: block;font-size: 25px;font-weight: bold;color:black; align-items: center;text-align: center;margin-top: 7.5px; margin-bottom: 7.5px;">{{local.Nombre}}</label>
    </ion-item>
    <div style='margin-top: 5px;padding: 7.5px !important;'>
     
      <ion-label style="font-size: 17.5px;text-align: center;margin-top: 5px;margin-right: 5px; margin-bottom: 7.5px !important;">{{local.Descripcion}}</ion-label>
    </div>

    <ion-item *ngIf="idPropietario == idUser" lines= 'none'  class="item-background-color">
      <ion-icon slot='end' name="create-outline" size ='large' color='success' [routerLink]="['/editar-local',idLocal,idPropietario]"></ion-icon>

    </ion-item>

    

  
  </ion-card>


    <ion-card style = 'padding: 3.5px;' class = 'item-background-color'>
      
      

      <a href= 'https://api.whatsapp.com/send?phone={{local.Telefono}}' style = 'text-decoration: none;'>
      <ion-item class = 'item-background-color'>
        <ion-icon name="logo-whatsapp" size="large" color="success" style="margin-right: 8px;"></ion-icon>
        <ion-label>{{local.Telefono}}</ion-label>
      </ion-item>
    </a>

      <ion-item class = 'item-background-color'>
        <ion-icon name="bicycle-outline" size="large" color="success" style="margin-right: 8px;"></ion-icon>
        <ion-label>{{local.Domicilio}}</ion-label>
      </ion-item> 

      <ion-item *ngIf='local.RedSocial != ""' class = 'item-background-color'>
        <a href= '{{local.RedSocial}}'><ion-icon name="logo-facebook" size="large" color="primary" style="margin-right: 8px;"></ion-icon></a>
        <ion-label>{{local.RedSocial}}</ion-label>
      </ion-item>

      <ion-item class = 'item-background-color'>
        <ion-icon name="location-outline" size="large" color="success" style="margin-right: 8px;"></ion-icon>
        <ion-label>{{local.Ciudadela}} - Mz: {{local.Manzana}}   Villa: {{local.Villa}}</ion-label>
      </ion-item>
      
      <ion-item *ngIf='local.Referencia != ""' class = 'item-background-color'>
        <ion-icon name="search-outline" size="large" color="success" style="margin-right: 8px;"></ion-icon>
        <ion-label>{{local.Referencia}}</ion-label>
      </ion-item>

      <ng-container class = 'item-background-color'>
        <ion-item class = 'item-background-color' lines = 'none'>
          <ion-icon name="calendar-number-outline" size="large" color="success" style="margin-right: 8px;"></ion-icon>
          <ion-label style = 'font-weight: bold;'>Horario de atención</ion-label>

        </ion-item>

        <ion-item *ngIf='horario.length < 5' class = 'item-background-color' lines = 'none' style = 'text-align: center;'>
          <ion-label style = 'margin-left: auto; margin-right: auto;'>{{local.HorarioAtencion}}</ion-label>
        </ion-item>


        <div  *ngIf = 'horario.length > 5' align = 'center' style='padding-bottom: 7.5px; padding-top: 2.5px;margin-left: auto; margin-right: auto;'>
          <ion-row style = 'padding: 2.5px; text-align: center;' *ngFor = 'let dia of horario; let i = index'>

            <ion-col sizeLg="2" sizeMd="4" sizeXs="6" >
              <ion-label [ngStyle]="{'font-weight': (diaActual == i) ? 'bold' : 'none', 'font-size': (diaActual == i) ? '15.5px' : '15px'}" style='text-align: center; margin-right: 7.5px;'>
                {{dias[i]}}
              </ion-label>

            </ion-col>

          <!-- <ion-label style='font-size: 15px;text-align: center; font-weight: bold; margin-right: 7.5px;'>
            {{dias[i]}}
          </ion-label> -->
          <ion-col sizeLg="2" sizeMd="4" sizeXs="6" style = 'text-align: left;'>

          <ion-label [ngStyle]="{'font-style': (dia=='cerrado') ? 'italic' : 'normal', 'font-weight': (diaActual == i) ? 'bold' : 'none', 'font-size': (diaActual == i) ? '15.5px' : '15px'}" style='text-align: left;'>
            {{dia}}
          </ion-label>

          <!-- <ion-label *ngIf = 'dia == "cerrado"' [ngStyle]="{'font-style': (dia=='cerrado') ? 'italic' : 'normal', 'font-weight': (diaActual == i) ? 'bold' : 'none'}" style='font-size: 15px; text-align: left;'>
            {{dia}}
          </ion-label> -->

          </ion-col>

          </ion-row>
        </div>
      </ng-container>


      <!-- <ion-item>
        <ion-icon routerLink="/perfil-update" name="create-outline" size="large" style="margin-right: 8px;" layout="icon-end" slot="end"></ion-icon>

      </ion-item> -->
    
    </ion-card>



</ion-content>
