<app-header nombre="locales"></app-header>

<ion-content>

  <ion-segment color="tertiary" value="informacion">

    <ion-segment-button value="informacion" [routerLink]="['/detalle-local',idLocal, idPropietario]" routerDirection="root">
      <ion-icon name="information-circle-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Datos</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="cartilla" [routerLink]="['/productos-locales',idLocal, idPropietario]" routerDirection="root">
      <ion-icon name="book-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Cartilla</ion-label>
    </ion-segment-button>

    <ion-segment-button value="grupos" [routerLink]="['/comentarios-local', idLocal, idPropietario]" routerDirection="root">
      <ion-icon name="chatbubbles-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Comentarios</ion-label>
    </ion-segment-button>

  </ion-segment>



  <ion-img class="circle-pic" style="width: 275px;height: 275px;margin:auto;margin-top: 7.5px;" src="{{local.Foto}}" ></ion-img>

  <ion-card>
    <ion-item>
      <label style="margin: auto;display: block;font-size: 25px;font-weight: bold;color:black; align-items: center;text-align: center;margin-top: 7.5px;">{{local.Nombre}}</label>
    </ion-item>
    <div style='margin-top: 5px;padding: 10px;'>
     
      <ion-label style="font-size: 17.5px;text-align: center;margin-top: 5px;margin-right: 5px;">{{local.Descripcion}}</ion-label>
    </div>
  
  </ion-card>


    <ion-card>
      
      


      <ion-item>
        <a href= 'https://api.whatsapp.com/send?phone={{local.Telefono}}'><ion-icon name="logo-whatsapp" size="large" color="success" style="margin-right: 8px;"></ion-icon></a>
        <ion-label>{{local.Telefono}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="bicycle-outline" size="large" color="success" style="margin-right: 8px;"></ion-icon>
        <ion-label>{{local.Domicilio}}</ion-label>
      </ion-item> 

      <ion-item *ngIf='local.RedSocial != ""'>
        <a href= '{{local.RedSocial}}'><ion-icon name="logo-facebook" size="large" color="primary" style="margin-right: 8px;"></ion-icon></a>
        <ion-label>{{local.RedSocial}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="golf-outline" size="large" color="success" style="margin-right: 8px;"></ion-icon>
        <ion-label>{{local.Ciudadela}} - Mz: {{local.Manzana}}   Villa: {{local.Villa}}</ion-label>
      </ion-item>
      
      <ion-item *ngIf='local.Referencia != ""'>
        <ion-icon name="search-outline" size="large" color="success" style="margin-right: 8px;"></ion-icon>
        <ion-label>{{local.Referencia}}</ion-label>
      </ion-item>


      <ion-item>
        <ion-icon routerLink="/perfil-update" name="create-outline" size="large" style="margin-right: 8px;" layout="icon-end" slot="end"></ion-icon>

      </ion-item>
    
    </ion-card>



</ion-content>
