<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Cursos Pendientes</ion-title>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar
    color="light" 
    placeholder = "Buscar materia..."
    animated
    (ionChange)="buscar($event)">
  </ion-searchbar>
 
  <ion-list>
    <ng-container *ngFor="let materia of materias | filtroCurso: textoBuscar">      
      <ion-item *ngIf="materia.Estado" [routerLink]="['/materias-pendientes-detalle', materia.id, materia.Usuario]">
        <ion-label>{{materia.NombreMateria}}  </ion-label>        
      </ion-item>
    </ng-container>    
  </ion-list>

</ion-content>
