.header{
    --background: white;
}

ion-label{
    color: black !important;
    font-weight: bold !important;
}

ion-icon{
    color: black !important;
}

ion-segment-button{
    background: white;
}