<app-header nombre="locales"></app-header>

<ion-content>

  <ion-segment color="tertiary" value="cartilla">

    <ion-segment-button value="anuncios" [routerLink]="['/curso-detalle',id, nombreCurso]" routerDirection="root">
      <ion-icon name="information-circle-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Datos</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="cartilla" [routerLink]="['/productos-locales',idLocal]" routerDirection="root">
      <ion-icon name="book-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Cartilla</ion-label>
    </ion-segment-button>

    <ion-segment-button value="grupos" [routerLink]="['/comentarios-local',idLocal]" routerDirection="root">
      <ion-icon name="chatbubbles-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Comentarios</ion-label>
    </ion-segment-button>

  </ion-segment>

  <ion-searchbar
    color="light" 
    placeholder = "Buscar producto..."
    animated
    (ionChange)="buscar($event)">
  </ion-searchbar>

  <ng-container *ngIf="!getDatos()">
  <ion-list>
    <ng-container *ngFor="let producto of productos">

    <ion-card *ngIf="producto.Local == idLocal">
      
        <ion-item>
          <!-- <ion-avatar slot='start' style="height: 50px;width: 50px;margin-right: 7.5px;">
            <img src="{{producto.Foto}}">
          </ion-avatar> -->
  
          <ion-label style="font-size: 15.5px;">{{producto.Titulo}}</ion-label>

        </ion-item>
        

      
      <ion-item >

        

        
        <ion-button fill="outline" slot='end' color="success"><ion-icon name="cash-outline" color="success"></ion-icon><label style="font-size: 14;margin-left: 7.5px;" >${{producto.Precio}}</label></ion-button>
    
      </ion-item>
    </ion-card>
      
    </ng-container>

  </ion-list>
  </ng-container>

  <ng-container *ngIf="getDatos()">

  <div style="margin-top: 50px;" align='center'> 
    <ion-text color="medium">

      <img src="https://firebasestorage.googleapis.com/v0/b/taskyapp01.appspot.com/o/iconos%2Fgrupos.png?alt=media&token=8aa84d63-18b5-424d-9b6a-dfd1075eeb77" style="width: 55%; height:58%;margin:auto;" alet="foto">
      
      <p style="font-size: 21px;margin:auto;margin-top:7.5px">No hay productos registrados.</p>
    </ion-text>  
  </div>
</ng-container>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/crear-producto-local',idLocal]">
   <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>
