<!-- <app-header nombre="perfil"></app-header> -->

<ion-content class="item-background-color" style = 'padding-bottom: 7.5px;'>

  <form #form="ngForm" (ngSubmit)="crearLocal(form)" class="item-background-color">
        <ion-list>  
          
        <ion-card class="item-background-color" style="margin-top:15px">
          <ion-item class="item-background-color">
            <p class = 'titleForm'>Nombre del local <b class = 'obligatorio'>*</b></p>
          </ion-item>
          <ion-item class="item-background-color">
          
            <ion-input required placeholder="Ingrese el nombre del local" name="nombre" type='text' ngModel required></ion-input>
          </ion-item>

        </ion-card>

        <ion-card style="margin-top:15px">
            <ion-item class="item-background-color">
              <ion-icon name="image-outline"></ion-icon> <ion-label color="" style="margin-left: 7.5px;" *ngIf='image==null'>Subir foto <b class = 'obligatorio'>*</b></ion-label> <ion-text color="" style="margin-left: 7.5px;" *ngIf='image!=null'>Cambiar foto</ion-text>
          
              <ion-input type='file' accept="image/*" id="myFileInput" name="foto1" (change)="readURL($event);" class="fileInput" ngModel required></ion-input>
    
            </ion-item>

        </ion-card>
        
        <ion-card style="margin-top:15px" *ngIf='file!=null'>
          <ion-item class="item-background-color">

            <ng-container>
              <ion-img id="blah" [src]="image" alt="" style="margin-top:5px;margin-bottom: 5px;height: 250px;width: 250px;margin:auto;"></ion-img>

            </ng-container>

          </ion-item>
    
        </ion-card>

        
        <ion-card style="margin-top:15px">
          <ion-item class="item-background-color">
            <p class = 'titleForm'>Descripción <b class = 'obligatorio'>*</b></p>
          </ion-item>
          <ion-item>
            <ion-textarea class = 'textArea' required placeholder="Ingrese una descripción del local" name="descripcion" type='text' ngModel required></ion-textarea>
          </ion-item>
        </ion-card>

        <ion-card style="margin-top:15px">
          <ion-item class="item-background-color">
            <ion-label><ion-icon color="black" name="bookmarks-outline" style = 'margin-right: 7.5px;'></ion-icon>Categoría <b class = 'obligatorio'>*</b></ion-label>
            <ion-select class="item-background-color" required  name='categoria' ngModel>
            
                    <ion-select-option *ngFor="let cat of categorias" [value]="cat.id">{{cat.Nombre}}</ion-select-option>
                    
            </ion-select>
    
          </ion-item>
        </ion-card>

        <ion-card style="margin-top:15px">
          <ion-item class="item-background-color">
            <ion-label><ion-icon color="black" name="storefront-outline" style = 'margin-right: 7.5px;'></ion-icon>Ciudadela <b class = 'obligatorio'>*</b> </ion-label>
            <ion-select required  name='ciudadela' ngModel>
             
                    <ion-select-option value="Paraíso del Río 1">Paraíso del Río 1</ion-select-option>
                    <ion-select-option value="Paraíso del Río 2">Paraíso del Río 2</ion-select-option> 
                    <ion-select-option value="Toledo">Toledo</ion-select-option>
                    <ion-select-option value="Marbella">Marbella</ion-select-option> 
                    <ion-select-option value="Victoria del Río">Victoria del Río</ion-select-option>
                    <ion-select-option value="Salamanca">Salamanca</ion-select-option>
                    <ion-select-option value="Victoria Club">Victoria Club</ion-select-option>
                    <ion-select-option value="Plaza Victoria">Plaza Victoria</ion-select-option>
                    <ion-select-option value="Valle Victoria">Valle Victoria</ion-select-option>
                    <ion-select-option value="Alameda del Río">Alameda del Río</ion-select-option>
  
            
            </ion-select>
    
          </ion-item>
        </ion-card>

        <ion-card style="margin-top:15px">
          <ion-item class="item-background-color">
            <ion-label class = 'titleForm'>Manzana <b class="obligatorio">*</b></ion-label>
          </ion-item>
          <ion-item>
            <ion-input class = 'textArea' required placeholder="Ingrese la manzana" name="manzana" type='text' ngModel required></ion-input>
          </ion-item>
        </ion-card>

        <ion-card style="margin-top:15px">
          <ion-item class="item-background-color">
            <ion-label class = 'titleForm'>Villa <b class = 'obligatorio'>*</b></ion-label>
          </ion-item>
          <ion-item class="item-background-color">
            <ion-input required placeholder="Ingrese la villa" name="villa" type='text' ngModel required></ion-input>
          </ion-item>
        </ion-card>

        <ion-card style="margin-top:15px">
          <ion-item class="item-background-color">
            <ion-label>Teléfono del local <b class = 'obligatorio'>*</b></ion-label>
          </ion-item>
          <ion-item class="item-background-color">
            <ion-input required placeholder="Ingrese el número de teléfono" name="telefono" maxlength = '15' type='text' ngModel required></ion-input>
          </ion-item>
        </ion-card>

        <ion-card style="margin-top:15px">
          <ion-item>
            
            <ion-label>Red social</ion-label>
          </ion-item>
          <ion-item class="item-background-color">
            <ion-input placeholder="Ingrese el link de su página de Facebook" name="redSocial" type='text' ngModel></ion-input>
          </ion-item>
        </ion-card>

        <ion-card style="margin-top:15px">
          <ion-item class="item-background-color">
            <ion-label><ion-icon color="black" name="bicycle-outline" style = 'margin-right: 7.5px;'></ion-icon>¿Entregas a domicilio? <b class = 'obligatorio'>*</b></ion-label>
            <ion-select required  name='domicilio' ngModel>
             
                    <ion-select-option value="Si">Sí</ion-select-option>
                    <ion-select-option value="No">No</ion-select-option> 

            </ion-select>
    
          </ion-item>
        </ion-card>

        <ion-card style="margin-top:15px">
          <ion-item class="item-background-color">
            <ion-label>Horario de atención <b class = 'obligatorio'>*</b></ion-label>
          </ion-item>
          <ion-item class="item-background-color">
            <ion-textarea class = 'textArea' required placeholder="Ingrese el horario de atención" name="horarioAtencion" type='text' ngModel required></ion-textarea>
          </ion-item>
        </ion-card>

        <ion-card style="margin-top:15px">
          <ion-item class="item-background-color">
            <ion-label>Referencia</ion-label>
          </ion-item>
          <ion-item class="item-background-color">
            <ion-input placeholder="Referencia de la ubicación del local" name="referencia" type='text' ngModel></ion-input>
          </ion-item>
        </ion-card>

       
               
        </ion-list>
  
        <ion-button  style="width: 150px;margin:auto;margin-bottom: 8.5px;" type="submit"  [disabled]="form.invalid" expand="block">
          CREAR
        </ion-button>
      </form>
</ion-content>
<style>
  #myFileInput{
    position: absolute;
    opacity: 0;
  }
</style>
