<app-header nombre="locales"></app-header>

<ion-content>

  <ion-segment color="tertiary" value="todos">

    <ion-segment-button value="todos" [routerLink]="['/locales-todos']">
      <ion-icon name="gift-outline" size="large"></ion-icon>
      <ion-label style="font-size: 11px;">Locales</ion-label>
    </ion-segment-button>

    <ion-segment-button value="categorias" [routerLink]="['/categorias-locales']">
      <ion-icon name="list-outline" size="large"></ion-icon>
      <ion-label style="font-size: 11px;">Categorías</ion-label>
    </ion-segment-button>

  </ion-segment>
  <!--
  <ion-slides pager="true" [options]="slideOpts" style="margin-top: 15px;">
    <ion-slide style="height: 500px;width: 90%;" *ngFor="let local of locales">
          <ion-img *ngIf='local.Visibilidad' src="{{local.Foto}}" style="height: 475px;width: 100%;" (click)='aumentarVisita(local.id,local)'></ion-img>
    </ion-slide> 

  </ion-slides> -->

  <ion-searchbar
    color="light" 
    placeholder = "Buscar local..."
    animated
    (ionChange)="buscar($event)">
  </ion-searchbar>

  <ion-grid>
    <ion-row style="height: 785.5px;width: 100%;">
      <ion-col sizeLg="2" sizeMd="4" sizeXs="6" *ngFor="let local of locales | filtroLocalProductos: textoBuscar">

        <ion-card (click)='aumentarVisita(local.id,local)' style = 'margin-bottom: 7.5px !important;'>
          <ion-card-content id='starts' style = 'align-items: left;'>
            <ion-item lines='none' style = 'align-items: left; text-align: left;'>
              <div slot='start' *ngFor='let indice of [].constructor(local.Calificacion); let i = index'
                style='width: 0.025%;margin-left: 0.00125px;'>
                <ion-icon name="star" color='warning'></ion-icon>
              </div>

            </ion-item>
          </ion-card-content>
          <ion-card-header id="headerCard" style = 'background-color: white !important;'>
            <ion-img *ngIf='local.Visibilidad' src="{{local.Foto}}" style="height: 100%; padding: 0;"></ion-img>
          </ion-card-header>


          <ion-card-content style = 'padding-top: 5px; width: 100%;'>
            <ion-label style='font-size: 15.5px; align-items: center;color: black; margin-top: 11.5px; font-weight: bold;'>{{local.Nombre.length > 27 ? local.Nombre.slice(0,27) + '..' : local.Nombre }} </ion-label>

            <!-- <h2>CALIFICACIÓN: {{local.Calificacion}}</h2> -->
          </ion-card-content>
          <ion-row class="card-footer">
            <ion-col>
              <ion-icon name="location-outline" color='success' size = 'small' style='padding-left: 10px;padding-right: 7px;'></ion-icon>
              <p style='font-size: 15px; align-items: left; margin-top: 0px;margin-bottom: 0px; display: inline-block;'>
                {{local.Ciudadela}} </p>
            </ion-col>
          </ion-row>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>