<app-header nombre="locales"></app-header>

<ion-content>

  <ion-segment color="tertiary" value="todos">

    <ion-segment-button value="todos" [routerLink]="['/locales-todos']">
      <ion-icon name="gift-outline" size="large"></ion-icon>
      <ion-label style="font-size: 11px;">Locales</ion-label>
    </ion-segment-button>

    <ion-segment-button value="categorias" [routerLink]="['/categorias-locales']">
      <ion-icon name="list-outline" size="large"></ion-icon>
      <ion-label style="font-size: 11px;">Categorías</ion-label>
    </ion-segment-button>

  </ion-segment>
  <!--
  <ion-slides pager="true" [options]="slideOpts" style="margin-top: 15px;">
    <ion-slide style="height: 500px;width: 90%;" *ngFor="let local of locales">
          <ion-img *ngIf='local.Visibilidad' src="{{local.Foto}}" style="height: 475px;width: 100%;" (click)='aumentarVisita(local.id,local)'></ion-img>
    </ion-slide> 

  </ion-slides> -->

  <ion-grid>
    <ion-row style="height: 780px;width: 100%;">
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let local of locales">

        <ion-card (click)='aumentarVisita(local.id,local)'>
          <ion-card-header id="headerCard">

            <ion-img *ngIf='local.Visibilidad' src="{{local.Foto}}" style="height: 95%; padding: 0;"></ion-img>
          </ion-card-header>

          <ion-card-content>
            <p style = 'font-size: 15px; align-items: center;'>{{local.Nombre}} </p>
            
            
            
            <!-- <h2>CALIFICACIÓN: {{local.Calificacion}}</h2> -->
          </ion-card-content>
          
          <ion-footer>
            <ion-item lines = 'none'>
              <div slot='end' *ngFor = 'let indice of [].constructor(local.Calificacion); let i = index' style='width: 1%;margin-right: 5px;'>
                <ion-icon name="star" color = 'warning'></ion-icon>
              </div>
  
            </ion-item>

          </ion-footer>
          
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>