ion-content{
    --ion-background-color: white;
}

ion-list{
    background-color: white !important;
    --ion-background-color: white;
}

// ion-label{
//     background-color: green !important;
// }