<ion-content>
<ion-card style="margin-top: 35px; padding-bottom: 14.5px;">
    
    <ion-img src="../../assets/mL2.png" style="width: 100%;height: 285px;margin-top:32.5px;margin-bottom: 7.5px;" alt="hola"></ion-img>
    
    
    <form #form="ngForm" (ngSubmit)="loginUser(form)">
      <ion-list>   
        
        <ion-item class="item-background-color">
          <ion-label><ion-icon name="mail-outline"></ion-icon><ion-text color="danger"></ion-text></ion-label>
          <ion-input placeholder="Correo" name="email" type='email' ngModel required></ion-input>
        </ion-item>

        <ion-item class="item-background-color">
          <ion-label><ion-icon name="key-outline"></ion-icon> <ion-text color="danger"></ion-text></ion-label>
          <ion-input placeholder="Contraseña" name="password" type='password' ngModel required></ion-input>
        </ion-item>
      </ion-list>

      <div class="ion-padding" align="center" style="margin-top:5px">
        <ion-button  style="width: 150px;" type="submit"  [disabled]="form.invalid" expand="block">
          Ingresar
        </ion-button>
        
      </div>

      <div align="center" style="margin-top: 12.5px">
        <p (click)="presentResetPassword()" style="font-size:15px">Restablecer contraseña</p>
        <p style="font-size:15px" routerLink="/registrar" routerDirection="root">Crear cuenta</p>
        <p style="font-size:15px; text-decoration: underline;" routerLink="/carousel" routerDirection="root">Continuar sin iniciar sesión</p>

      </div>


      

    </form>
  </ion-card>
</ion-content>
