
<app-header nombre="productos"></app-header>

<ion-content>

  <!-- <ion-segment color="tertiary" value="productos">

    

    <ion-segment-button value="productos" [routerLink]="['/productos-todos']" >
      <ion-icon name="gift-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Productos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="categorias" [routerLink]="['/categorias']" >
      <ion-icon name="list-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Categorias</ion-label>
    </ion-segment-button>

    <ion-segment-button value="servicios" [routerLink]="['/servicios']">
      <ion-icon name="rocket-outline" size="large"></ion-icon> <ion-label style="font-size: 11px;">Servicios</ion-label>
    </ion-segment-button>

  </ion-segment> -->

  <ion-searchbar
    color="light" 
    placeholder = "Buscar categoría..."
    animated
    (ionChange)="buscar($event)">
  </ion-searchbar>


  <ion-grid>
    <ion-row style="width: 100%;">
      <ion-col sizeLg="2" sizeMd="4" sizeXs="6" *ngFor="let categoria of categorias | filtroCategoria: textoBuscar">

        <ion-card [routerLink]="['/crear-producto',categoria.id]" style = 'height: 115px;'>
        <ion-card-content style = 'align-items: center;justify-content: center;'>
          
          <div align = 'center'>
            <ion-icon name="{{categoria.Icono}}" size='large' style = 'align-items: center;'></ion-icon>
          </div>
            
          
            
          
      
              <h1 style='color:black;font-size: 15px;text-align: center;margin:auto;margin-top: 5.5px; font-weight: bold;'>
                {{categoria.Nombre}}</h1>





          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  


</ion-content>
