<app-header nombre="categorias"></app-header>
<ion-content>

  <form #form="ngForm" (ngSubmit)="crearProducto(form)">
        <ion-list>  
          
          <ion-card style="margin-top:15px">
            <ion-item>
              <ion-label>Título </ion-label>
            </ion-item>
            <ion-item>
            
              <ion-input required placeholder="Ingrese el título del producto" name="titulo" type='text' ngModel required></ion-input>
            </ion-item>
  
          </ion-card>
        
        <ion-card style="margin-top:15px">
          <ion-item>
            <ion-label>Descripción </ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea required placeholder="Ingrese una descripción del producto" name="descripcion" type='text' ngModel required></ion-textarea>
          </ion-item>
  
  
  
        </ion-card>

        <ion-card style="margin-top:15px">
          <ion-item>
            <ion-label>Precio </ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea required placeholder="Ingrese el precio del producto" name="precio" type='number' ngModel required></ion-textarea>
          </ion-item>
  
  
  
        </ion-card>

        <ion-card style="margin-top:15px">
          <ion-item>
    
            <ion-item>
              <ion-icon name="image-outline"></ion-icon> <ion-text color="" style="margin-left: 7.5px;" *ngIf='image==null'>Subir foto</ion-text> <ion-text color="" style="margin-left: 7.5px;" *ngIf='image!=null'>Cambiar foto 1</ion-text>
          
              <ion-input type='file' accept="image/*" id="myFileInput" name="foto1" (change)="readURL($event);" class="fileInput" ngModel required></ion-input>
    
            </ion-item>
    
            <ion-item slot='end' *ngIf='image!=null'>
              <ion-icon name="images-outline"></ion-icon> <ion-text color="" style="margin-left: 7.5px;" *ngIf='image1==null'>Añadir foto</ion-text> <ion-text color="" style="margin-left: 7.5px;" *ngIf='image1!=null'>Cambiar foto 2</ion-text>
          
              <ion-input type='file' accept="image/*" id="myFileInput" name="foto2" (change)="readURL1($event);" class="fileInput" ngModel></ion-input>
    
            </ion-item>
    
            
            
          
            
    
          </ion-item>
    
        </ion-card>
        
        <ion-card style="margin-top:15px" *ngIf='image!=null'>
          <ion-item>

            <ng-container>
              <ion-img id="blah" [src]="image" alt="your image" style="margin-top:5px;margin-bottom: 5px;height: 250px;width: 250px;"></ion-img>

            </ng-container>
    
            
          
            
            <ng-container *ngIf='image1!=null'>
              <ion-img id="blah" [src]="image1" alt="your image" style="margin-left: 5px;margin-top:5px;margin-bottom: 5px;height: 250px;width: 250px;"></ion-img>
            </ng-container>
            
    
            
          </ion-item>
    
        </ion-card>
          
        
      <!-- <ion-card style="margin-top:15px">
        <ion-item>
          <ion-label><ion-icon name="image-outline"></ion-icon> <ion-text color="" style="margin-left: 7.5px;">Seleccionar foto</ion-text></ion-label>
        
          <ion-input type='file' accept="image/*" id="myFileInput" name="foto" (change)="readURL($event);" class="fileInput" ngModel required></ion-input>
        </ion-item>
  
      </ion-card> -->
  
        
        </ion-list>
  
          <ion-button  style="width: 150px;margin:auto;margin-bottom: 8.5px;" type="submit"  [disabled]="form.invalid" expand="block">
            Guardar
          </ion-button>
      </form>
  
  </ion-content>
  <style>
  #myFileInput{
    position: absolute;
    opacity: 0;
  }
  </style>