<ion-header color = 'header'>  
  <ion-toolbar>
    <ion-segment color="tertiary" value="{{text}}" >
      <ion-segment-button value="publicaciones" [routerLink]="['/publicaciones']" routerDirection="root">
        <ion-icon name="megaphone-outline" size="large"></ion-icon>
        <ion-label style="font-size: 11.5px;">Anuncios</ion-label>
      </ion-segment-button>

      <ion-segment-button value="categorias" [routerLink]="['/productos-todos']" routerDirection="root">
        <ion-icon name="grid-outline" size="large"></ion-icon>
        <ion-label style="font-size: 11.5px;">Productos</ion-label>
      </ion-segment-button>

      <ion-segment-button value="locales" [routerLink]="['/locales-todos']" routerDirection="root">
        <ion-icon name="storefront-outline" size="large"></ion-icon>
        <ion-label style="font-size: 11.5px;">Locales</ion-label>
      </ion-segment-button>
    
      <ion-segment-button value="perfil" [routerLink]="['/perfil']" routerDirection="root">
        <ion-icon name="person-circle" size="large"></ion-icon>
        <ion-label style="font-size: 11.5px;">Perfil</ion-label>
        <!-- <ion-avatar style="height: 48px;width: 48px;margin: auto;">
          <img src="{{FotoPerfil}}">
        </ion-avatar> -->
      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>
</ion-header>