<ion-header >
  <ion-toolbar>
    <ion-segment color="tertiary" value="cursos" >
      <ion-segment-button value="publicaciones" [routerLink]="['/publicaciones']" routerDirection="root">
        <ion-icon name="megaphone-outline" size="large"></ion-icon>
        <ion-label>Anuncios</ion-label>
      </ion-segment-button>

      <ion-segment-button value="cursos" [routerLink]="['/cursos']" routerDirection="root">
        <ion-icon name="storefront-outline" size="large"></ion-icon>
        <ion-label>Productos</ion-label>
      </ion-segment-button>
    

      <ion-segment-button value="perfil" [routerLink]="['/perfil']" routerDirection="root">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>

  

  

    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar
    color="light" 
    placeholder = "Buscar usuario..."
    animated
    (ionChange)="buscar($event)">
  </ion-searchbar>
 
  
<ng-container *ngFor="let usuario of usuarios | filtroUsuario: textoBuscar">
      
      <ion-item *ngIf="usuario.Estado == 'P'" [routerLink]="['/usuario-pendiente-detalle', usuario.id]" >

        
        <ion-thumbnail slot="start" slot="start">
          <img src="{{usuario.FotoPerfil}}" alet="foto">
        </ion-thumbnail>

        
        <ion-label>{{usuario.Nombre}} {{usuario.Apellido}} </ion-label>

        
      </ion-item>
    
</ng-container>

</ion-content>
