
<!-- <!-- <app-header nombre="categorias"></app-header> --> -->

<ion-content>


  <form #form="ngForm" (ngSubmit)="crearServicio(form)">
    <ion-list class="item-background-color">  
      
      <ion-card style="margin-top:15px">
        <ion-item class="item-background-color">
          <ion-label class = 'tituloCrear'>Título <b class = 'obligatorio'>*</b></ion-label>
        </ion-item>
        <ion-item class="item-background-color" lines = 'none'>
        
          <ion-input required placeholder="Ingrese el título de su servicio" name="titulo" type='text' ngModel required></ion-input>
        </ion-item>

      </ion-card>
    
    <ion-card style="margin-top:15px">
      <ion-item class="item-background-color">
        <ion-label class = 'tituloCrear'>Descripción <b class = 'obligatorio'>*</b></ion-label>
      </ion-item>
      <ion-item class="item-background-color" lines = 'none'>
        <ion-textarea class = 'textArea' required placeholder="Ingrese la descripción" name="descripcion" type='text' ngModel required></ion-textarea>
      </ion-item>
    </ion-card>
      
    
    <ion-card style="margin-top:15px">
      

        <ion-item class="item-background-color" lines = 'none'>
          <ion-icon name="image-outline"></ion-icon> <ion-label class = 'tituloCrear' color="" style="margin-left: 7.5px;" *ngIf='image==null'>Subir foto <b class = 'obligatorio'>*</b></ion-label> <ion-label color="" style="margin-left: 7.5px;" class = 'tituloCrear' *ngIf='image!=null'>Cambiar foto</ion-label>
      
          <ion-input type='file' accept="image/*" id="myFileInput" name="foto1" (change)="readURL($event);" class="fileInput" ngModel required></ion-input>

        </ion-item>

    </ion-card>
    
    <ion-card style="margin-top:15px" *ngIf='image!=null'>
      <ion-item class="item-background-color">

        <ng-container>
          <ion-img id="blah" [src]="image" alt="your image" style="margin-top:5px;margin-bottom: 5px;height: 250px;width: 250px;margin:auto;"></ion-img>

        </ng-container>

        

        
      </ion-item>

    </ion-card>

    
    </ion-list>

      <ion-button  style="width: 150px;margin:auto;" type="submit"  [disabled]="form.invalid" expand="block">
        Guardar
      </ion-button>
  </form>

</ion-content>
<style>
#myFileInput{
position: absolute;
opacity: 0;
}
</style>