<app-header nombre="perfil"></app-header>

<ion-content>

  <ion-searchbar color="light" placeholder="Buscar producto..." animated (ionChange)="buscar($event)">
  </ion-searchbar>

  <ng-container *ngIf="!condicion">
    <ng-container *ngFor="let producto of productos | filtroProductos: textoBuscar">

      <ion-card *ngIf="producto.Vendedor == idUser">

        <ion-item [routerLink]="['/producto-detalle',producto.id,idUser]">


          <ion-avatar slot="start" style="height: 50px;width: 50px;margin-right: 7.5px;">
            <img src="{{producto.Foto1}}">
          </ion-avatar>

          <ion-label style="font-size: 17.2px; margin-left: 7.5px;">{{producto.Titulo}}</ion-label>


          <ion-button fill="outline" slot='end' color="success">
            <ion-icon name="cash-outline" color="success"></ion-icon><label
              style="font-size: 14;margin-left: 7.5px;">${{producto.Precio}}</label>
          </ion-button>





        </ion-item>
        <ion-item>
          <ion-button fill="outline" slot='end'>
            <ion-icon name="eye-outline"></ion-icon><label
              style="font-size: 12;margin-left: 7.5px;">{{producto.Visitas}}</label>
          </ion-button>
          <ion-icon name="create-outline" slot='end' [routerLink]="['/editar-producto',producto.id]"></ion-icon>
          <ion-icon name="trash-outline" slot='end' color='danger' (click)="alert(producto.id)"></ion-icon>

        </ion-item>


      </ion-card>


    </ng-container>

  </ng-container>

  <ng-container *ngIf="condicion">

    <div style="margin-top: 50px;" align='center'>
      <ion-text color="medium">

        <img
          src="https://firebasestorage.googleapis.com/v0/b/ventasml2.appspot.com/o/iconos%2Ffile_search.png?alt=media&token=79e21b5c-d8e4-4124-abd8-be52f0bce666"
          style="width: 55%; height:58%;margin:auto;" alet="foto">

        <p style="font-size: 21px;margin:auto;margin-top:7.5px">No hay productos registrados.</p>
      </ion-text>
    </div>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/crear-producto-perfil']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>