<app-header nombre="perfil"></app-header>

<ion-content>


  <ng-container *ngIf="locales.length > 0">

    <ion-grid>
      <ion-row style="height: 785.5px;width: 100%;">
        <ion-col sizeLg="2" sizeMd="4" sizeXs="6" *ngFor="let local of locales | filtroLocalProductos: textoBuscar">
  
          <ion-card [routerLink]="['/detalle-local',local.id, local.Usuario]" style = 'margin-bottom: 7.5px !important;'>
            <ion-card-content id='starts' style = 'align-items: left;'>
              <ion-item lines='none' style = 'align-items: left; text-align: left;'>
                <div slot='start' *ngFor='let indice of [].constructor(local.Calificacion); let i = index'
                  style='width: 0.025%;margin-left: 0.00125px;'>
                  <ion-icon name="star" color='warning'></ion-icon>
                </div>
  
              </ion-item>
            </ion-card-content>
            <ion-card-header id="headerCard" style = 'background-color: white !important;'>
              <ion-img *ngIf='local.Visibilidad' src="{{local.Foto}}" style="height: 100%; padding: 0;"></ion-img>
            </ion-card-header>
  
  
            <ion-card-content style = 'padding-top: 5px; width: 100%;'>
              <ion-label style='font-size: 15.5px; align-items: center;color: black; margin-top: 11.5px; font-weight: bold;'>{{local.Nombre.length > 27 ? local.Nombre.slice(0,27) + '..' : local.Nombre }} </ion-label>
  
              <!-- <h2>CALIFICACIÓN: {{local.Calificacion}}</h2> -->
            </ion-card-content>

            <ion-card-footer style = "text-align: right; justify-content: right;">
              <div>
              <ion-icon size = "large" style = "margin-right: 5.5px;" name="create-outline" [routerLink]="['/editar-local',local.id, local.Usuario]"></ion-icon>
              <ion-icon size = "large" name="trash-outline" color='danger' (click)="alert(local.id, local.Nombre)"></ion-icon>
            </div>
            </ion-card-footer>

            
            <!-- <ion-row class="card-footer">
              <ion-col>
                <ion-icon name="location-outline" color='success' size = 'small' style='padding-left: 10px;padding-right: 7px;'></ion-icon>
                <p style='font-size: 15px; align-items: left; margin-top: 0px;margin-bottom: 0px; display: inline-block;'>
                  {{local.Ciudadela}} </p>
              </ion-col>
            </ion-row> -->
  
          </ion-card>
  
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let local of locales">

      <ion-card style = 'margin-bottom: 7.5px !important;'>
        <ion-card-header id="headerCard" [routerLink]="['/local-detalle',local.id,idUser]">

          <ion-img src="{{local.Foto}}" style="height: 175px; padding: 0;"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ng-container>
            <h1 style='color:black;font-size: 17.5px;text-align: center;margin:auto;font-weight: bold;margin-top: 5px'>
              {{local.Calificacion}} <ion-icon name="star" color='warning'></ion-icon></h1>
            <h2
              style='color:black;font-size: 15px;text-align: center;margin-top: 5px; margin-bottom: 2.5px;color: gray;'>
              {{local.Nombre}}</h2>



          </ng-container>

        </ion-card-content>
        <ion-card-footer style = "text-align: right; justify-content: right;">
          <div>
          <ion-icon size = "large" style = "margin-right: 5.5px;" name="create-outline" [routerLink]="['/editar-local',local.id, local.Usuario]"></ion-icon>
          <ion-icon size = "large" name="trash-outline" color='danger' (click)="alert(local.id, local.Nombre)"></ion-icon>
        </div>
        </ion-card-footer>
      </ion-card>

    </ion-col> -->


   

  </ng-container>

  <ng-container *ngIf="locales.length == 0 && condicion">

    <div style="margin-top: 50px;" align='center'>
      <ion-text color="medium">

        <img
        src="https://firebasestorage.googleapis.com/v0/b/ventasml2.appspot.com/o/iconos%2Ffile_search.png?alt=media&token=79e21b5c-d8e4-4124-abd8-be52f0bce666"
        style="width: 250px; height:250px;margin:auto;" alet="foto">

        <p style="font-size: 21px;margin:auto;margin-top:7.5px">No hay locales registrados.</p>
      </ion-text>
    </div>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/crear-local-perfil']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>