ion-content{
    --ion-background-color:#ffffff;
}

ion-button{
    background-color: white !important;
    //--ion-background-color: red !important;
}

div{
    background-color: white !important;
}
