<app-header nombre="perfil"></app-header>

<ion-content>
  
  <ion-img class="circle-pic"  src="https://sm.ign.com/t/ign_latam/screenshot/default/goku-susanoo_7by3.1200.jpg" ></ion-img>

  <ion-card>
    <ion-item>
      <ion-icon name="person-outline" size="large" style="margin-right: 8px;"></ion-icon>
      <ion-label style="font-size: 17px;">Adan Navarrete</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="mail-outline" size="large" style="margin-right: 8px;"></ion-icon>
      <ion-label style="font-size: 17px;">adanavarrete15@gmail.com</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline" size="large" style="margin-right: 8px;"></ion-icon>
      <ion-label style="font-size: 17px;">+593984870784</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="megaphone-outline" size="large" style="margin-right: 8px;"></ion-icon>
      <ion-label style="font-size: 17px;">2</ion-label>
    </ion-item>


    <ion-item>
      <ion-icon routerLink="/perfil-update" name="create-outline" size="large" style="margin-right: 8px;" layout="icon-end" slot="end"></ion-icon>

    </ion-item>
  
  </ion-card>

  

    


  
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="crearSugerencia()">
     <ion-icon name="help-circle-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<style>
  .circle-pic {     
    width: 55%;
    height: 35%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    /* -webkit-border-radius: 50%;
    border-radius: 50%;
    border-width: 50px; */

  }
</style>