/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
  --ion-background-color: white !important;
}

ion-header {
  --ion-background-color: white !important;
}





// ion-label{
//   background-color: white !important;
// }

form {
  background-color: white !important;
}

ion-searchbar .searchbar-input{

  background-color: #E5E0E0 !important;
  color: black !important
}

.myColorFooter {
  background-color: #3880FF !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.my-custom-class{
  //color: red !important;
}

.iconGeneral{
  color: black !important
}

ion-datetime {
  --background: #fff1f2;
  --background-rgb: 255, 241, 242;

  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}

.tituloCrear{
  font-weight: bold;
}



ion-select{
  color: black !important
}

.textArea{
  color: black !important
}

ion-input{
  color: black !important;
  background-color: white !important;
} 



ion-card{
  background-color: white !important;
}

ion-label{
  color: black !important;
  //font-weight: bold !important;
}

ion-icon{
  color: black !important;
}

.obligatorio{
  color: red; 
  font-size: 18.5px; 
  margin-left: 5.5px;
}

ion-segment{
  background-color: white !important;
}

ion-slide{
  //--ion-background-color: yellow !important;
  background-color: white !important;
}

ion-skeleton-text{
  background-color: #E5E0E0 !important;
  min-width: 100%;
}

searchbar-input-container{
  --ion-background-color: yellow !important;
  background-color: red !important;
}

.item .item-content {
  background-color: yellow !important;
}

// ion-list {
//   --ion-background-color: red !important;
//   background-color: yellow !important;

// }

ion-item{
  --ion-background-color: white !important;
  background-color: white !important;
}


.item-background-color{
  --ion-item-background: white !important;
}

.item-background-color-menu{
  --ion-item-background: white !important;
}

.my-custom-class{
  color: green !important;
  > div {
    background: white !important;
    //color: green !important;
    margin-bottom: 10px;
  }

  > p {
    color: red !important
  }
  .alert-message{
      //color: blue !important;
  }
}

// .item-background-color{
//   --ion-item-background: white !important;
// }
