<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Comentarios</ion-title>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ng-container *ngFor="let comentario of comentarios">
      <ion-item>

    

        
            <label style="font-size: 18.2px;font-weight: bold;color:black; align-items: center;text-align: center;">{{comentario.Titulo}}</label>
         

      

      

       
          
    
  
        
      </ion-item>
  
  
    </ng-container>
        
        
  </ion-list>
  
  </ion-content>
