<app-header nombre="locales"></app-header>

<ion-content>


  <form #form="ngForm" (ngSubmit)="UpdateLocal(form)">
    <ion-list class="item-background-color">   
        
  

 
      



     
      
      
      

      <ion-item class="item-background-color">
        <ion-icon name="storefront-outline" color="success" size='large' style = 'margin-right: 7.5px;'></ion-icon>
        <ion-input value="{{local.Nombre}}" name="nombre" type='text' ngModel></ion-input>
      </ion-item>

      

      <ion-item class="item-background-color">
        <ion-icon name="logo-whatsapp" size='large' color='success' style='margin-right: 7.5px;'></ion-icon>
        <ion-input value="{{local.Telefono}}" name="telefono" type='text' ngModel></ion-input>
      </ion-item>

      <ion-item class="item-background-color">
        <ion-icon name="logo-facebook" size='large' color='primary' style='margin-right: 7.5px;'></ion-icon>
        <ion-input value="{{local.RedSocial}}" name="redSocial" type='text' ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="golf-outline" size='large' color='success' style='margin-right: 7.5px;'></ion-icon>
        <ion-input value="{{local.Referencia}}" name="referencia" type='text' ngModel></ion-input>
      </ion-item>

      <ion-item class="item-background-color">
        <ion-icon color="success" size='large' name="bicycle-outline"></ion-icon>
        <ion-label style = "margin-left: 6.5px;">Entregas a domicilio:</ion-label>
        <ion-select name='domicilio' ngModel>
         
                <ion-select-option value="Si">Sí</ion-select-option>
                <ion-select-option value="No">No</ion-select-option> 

        </ion-select>

      </ion-item>


        <ion-item class="item-background-color">
          <ion-icon color="success" size='large' name="information-circle-outline"></ion-icon>
          <ion-label style = "margin-left: 6.5px;">Descripción:</ion-label>
        </ion-item>
        
        <ng-container>
          <ion-input style= 'text-align: center;' value="{{local.Descripcion}}" name="descripcion" type='text' ngModel></ion-input>

        </ng-container>
        

      <ion-item class="item-background-color">
        <ion-icon name="calendar-outline" size='large' color='success'></ion-icon>
        <ion-label style = "margin-left: 6.5px;">Horario de atención:</ion-label>
        
      </ion-item>

      <ng-container>
        <ion-input style= 'text-align: center;' value="{{local.HorarioAtencion}}" name="horario" type='text' ngModel></ion-input>
      </ng-container>
<!-- 
      <ng-container>
        
        <ion-input style= 'text-align: center;' value="{{local.Descripcion}}" name="descripcion" required type='text' ngModel></ion-input>
      </ng-container> -->

      <ion-item class="item-background-color" style='margin-top: 7.5px;'>

        <ion-img id="blah" [src]="image" alt="your image" style="margin-top:5px;margin-bottom: 5px;height: 350px;width: 350px;margin:auto;"></ion-img>
        
         
      </ion-item>


      
      <ion-item class="item-background-color">

        
          <ion-icon name="cloud-upload-outline"></ion-icon>  <ion-text style='margin-left:7.5px'>Cambiar foto</ion-text>
          <ion-input id="myFileInput" (change)="readURL($event);" accept="image/*" placeholder="archivo" name="archivo" type='file' ngModel value="{{file}}"></ion-input>
        
     
      </ion-item>

    
        
      


      


    </ion-list> 

    <div class="ion-padding" align="center">
      <ion-button type="submit"  [disabled]="form.invalid" expand="block" style="width: 150px;">
        Actualizar
      </ion-button>
      
    </div>
  </form>

</ion-content>
<style>
  #myFileInput{
    position: absolute;
    opacity: 0;
  }
</style>