

<ion-content>

  <div align = 'center' style = 'margin-top: 115px'>

    <label style = 'color: black;font-size: 21.2px;text-align: center;width: 85%;font-weight: bold;'>Genial!! Tu local fue creado exitosamente!!</label>

    
  </div>

  <div align = 'center' style = 'margin-top: 35px;'>
    <img style = 'margin:auto;height: 175px;width: 175px;' src = 'https://firebasestorage.googleapis.com/v0/b/ventasml2.appspot.com/o/iconos%2Fbob.png?alt=media&token=95be61cd-54a2-4384-9f8b-16fbb862ccfb'/>

  </div>

  <div align = 'center' style = 'margin-top: 25px'>

    <p style = 'color: black;font-size: 19.2px;text-align: center;width: 75.5%;font-weight: bold;'>Agrega los productos que ofrece tu local!!</p>

    
  </div>
  

  

  <ion-item class="item-background-color" style="margin-top: 35px;margin-bottom: 10px;" lines = 'none'>
    <ion-button style="width: 235px;height: 45px;margin-top:12.5px;margin:auto;" color="warning" (click)="subirProducto()">
      <ion-icon name="rocket-outline" size="large" style="margin-right: 8px;"></ion-icon>
      <ion-label style="font-size: 17.2px;color: black">Subir Productos</ion-label>
    </ion-button>
  </ion-item>


  <ion-fab (click) = 'cambiar()' vertical="start" horizontal="end" slot="fixed" style = 'margin-top: 7.5px;margin-right: 7.5px;'>

      <ion-icon name="close-circle-outline" size="large"></ion-icon>

    
  </ion-fab>

</ion-content>

<ion-footer class="myColor">
  <div align = 'center'>
    <img src = {{foot}} style = 'height: 75px;width: 250px;margin: auto;'/>
  </div>

</ion-footer>
