<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Configuraciones</ion-title>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title>Ayudantes aceptados: {{pago.Contador}}</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" style="width: 150px;margin:auto;margin-bottom: 15px;" (click)="setear()">Setear</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
    <ion-card-title>Premium aceptados: {{pago.ContadorPremium}}</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" style="width: 150px;margin:auto;margin-bottom: 15px;" (click)="setearPremium()">Setear</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
    <ion-card-title>Actualizar valor Anuncio-Usuarios:</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" style="width: 150px;margin:auto;margin-bottom: 15px;" (click)="actualizar()">Actualizar</ion-button>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
    <ion-card-title>Premium Temporal:</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" style="width: 150px;margin:auto;margin-bottom: 15px;" (click)="PremiumTemporal()">Actualizar</ion-button>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
    <ion-card-title>Actualizar valor Rol-Usuarios:</ion-card-title>
  </ion-card-header>
  <ion-button expand="block" style="width: 150px;margin:auto;margin-bottom: 15px;" (click)="alert()">Actualizar</ion-button>
  </ion-card>


</ion-content>
