<app-header nombre="categorias"></app-header>

<ion-content>



  <ion-searchbar color="light" placeholder="Buscar producto..." animated (ionChange)="buscar($event)">
  </ion-searchbar>

  <ng-container *ngIf="!condicion">
    <ion-grid>
      <ion-row style="height: 500px;width: 100%;">
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let producto of productos | filtroProductos: textoBuscar">
  
          <ion-card (click)='aumentarVisita(producto.id,producto)'>
            <ion-card-header id="headerCard">
  
              <ion-img *ngIf='producto.Visibilidad' src="{{producto.Foto1}}" style="height: 100%; padding: 0;"></ion-img>
            </ion-card-header>
            <ion-card-content>
              <ng-container>
                <h1 style='color:black;font-size: 17.5px;text-align: left;margin:auto;font-weight: bold;margin-top: 5px'>$
                  {{producto.Precio}}</h1>
                <h2
                  style='color:black;font-size: 15px;text-align: left;margin-top: 5px; margin-bottom: 2.5px;color: gray;'>
                  {{producto.Titulo}}</h2>
  
  
  
              </ng-container>
  
            </ion-card-content>
          </ion-card>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  

    <!--<ion-grid>
      <ion-row style="height: 500px;width: 100%;">
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let producto of productos | filtroProductos: textoBuscar">

          <ion-item *ngIf="producto.Categoria == categoria && producto.Visibilidad">
            <ion-card (click)='aumentarVisita(producto.id,producto)'>
              <ion-card-header id="headerCard">

                <ion-img src="{{producto.Foto1}}" style="height: 100%; padding: 0;"></ion-img>
              </ion-card-header>
              <ion-card-content>
                <p>{{producto.Precio}}</p>
                <h2>{{producto.Titulo}}</h2>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>-->

  </ng-container>

  <ng-container *ngIf="condicion">

    <div style="margin-top: 50px;" align='center'>
      <ion-text color="medium">

        <img
        src="../../../assets/vacio/locales_vacio.png"
        style="width: 175px; height: 175px;margin:auto;" alet="foto">

        <p style="font-size: 21px;margin:auto;margin-top: 15.5px">No hay productos registrados.</p>
      </ion-text>
    </div>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="validarSesion()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>