<!-- <app-header nombre="publicaciones"></app-header> -->

<app-header
<ion-content>


  <ng-container *ngIf='publicacion.Foto == ""'>

    <div style="margin-top: 50px;" align='center'>
      <ion-text color="medium">

        <img
        src="../../../assets/carrousel/anuncio-removebg-preview.png"
        style="width: 155.5px; height: 147.5px;margin:auto;" alet="foto">

      </ion-text>
    </div>
  </ng-container>


    <ion-slides *ngIf = 'publicacion.Foto != ""' pager="true" [options]="slideOpts" zoom>
      <ion-slide style="height: 325px;width: 85%;margin: auto">
        <ion-button expand="full" color="light" style="height: 100%;width: 100%;" fill="clear">
          <div class='swiper-zoom-container'>
            <ion-img src="{{publicacion.Foto}}" style="height: 275px;width: 100%;"></ion-img>
          </div>
        </ion-button>
      </ion-slide>
    </ion-slides>

    <ion-card style="padding: 10px;">

      <label
        style="margin: auto;display: block;font-size: 21.5px;font-weight: bold;color:black; align-items: center;text-align: center;margin-top: 7.5px;margin-bottom: 7.5px;">{{publicacion.Titulo}}</label>


      <ng-container>

        <ion-label style="font-size: 17.5px;margin-left: 7.5px;margin-top: 12.5px;margin-bottom: 12.5px;">
          {{publicacion.Descripcion}}</ion-label>
      </ng-container>

      <!--<ion-label style="margin-top: 7.5px;padding: 5px;">

        <ion-label style="font-size: 17.5px; text-align: center;">{{publicacion.Descripcion}}</ion-label>
      </ion-label>


      <ion-item>

        <ion-icon name="cash-outline" color="success"></ion-icon>
        <ion-label style="font-size: 17.5px;margin-left: 7.5px;">{{publicacion.Precio}}</ion-label>
      </ion-item>-->


    </ion-card>


    <ion-card style="margin-top:11.5px">

      <label
        style="margin: auto;display: block;font-size: 19.5px;font-weight: bold;color:black; align-items: center;text-align: center;margin-top: 8.5px;">Contacto:</label>


      <ion-item class="item-background-color">
        <ion-icon name="person-outline" size="large" style="margin-right: 8px;" color="success"></ion-icon>
        <ion-label style="font-size: 17px;">{{user.Nombre}} {{user.Apellido}}</ion-label>
      </ion-item>


      <a href='https://api.whatsapp.com/send?phone={{user.Telefono}}' style = 'text-decoration: none;'>
      <ion-item class="item-background-color">
        
          <ion-icon name="logo-whatsapp" size="large" color="success" style="margin-right: 8px;"></ion-icon>
        
        <ion-label>{{user.Telefono}}</ion-label>
      </ion-item>
    </a>


    <a href="mailto:{{user.Correo}}" style = 'text-decoration: none;'>
      <ion-item class="item-background-color">
        
          <ion-icon name="mail-outline" size="large" color="success" style="margin-right: 8px;"></ion-icon>
        
        <ion-label>{{user.Correo}}</ion-label>
      </ion-item>
    </a>

      <!-- <ion-item>
        <ion-icon name="golf-outline" size="large" color="success" style="margin-right: 8px;"></ion-icon>
        <ion-label>{{user.Ciudadela}} - Mz: {{user.Manzana}}   Villa: {{user.Villa}}</ion-label>
      </ion-item>  -->

      

      <ion-item class="item-background-color" lines = 'none'>
        <p style = 'margin-left: auto; color: black'>{{publicacion.Fecha | date:'dd/MM/yyyy'}}</p>
      </ion-item>

    </ion-card>

</ion-content>